/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import "template.css";

.comites {
    margin-bottom: 30%;
}

.organisation,
.administratif {
    margin-bottom: 3%;
}

.members {
    margin-top: 3%;
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
}

.comites_titles {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2em;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
}

.orga:after {
    content: "";
    position: absolute;
    display: block;
    width: 11%;
    height: 3px;
    left: 11.5%;
    margin: 5px -24px 0 -24px;
    background: #5e0098;
    border-radius: 10px;
}

.admin:after {
    content: "";
    position: absolute;
    display: block;
    width: 11%;
    height: 3px;
    left: 11.5%;
    margin: 5px -24px 0 -24px;
    background: #ff8a00;
    border-radius: 10px;
}

.progr:after {
    content: "";
    position: absolute;
    display: block;
    width: 11%;
    height: 3px;
    left: 11.5%;
    margin: 5px -24px 0 -24px;
    background: #0d5e80;
    border-radius: 10px;
}

.comites_univ {
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

.comites_nom {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

.organisation_members {
    padding: 3px 5px;
    background: #5e0098;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    color: white;
}

.administratif_members {
    padding: 3px 5px;
    background: #ff8a00;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    color: white;
}

.programme_members {
    padding: 3px 5px;
    background: #0d5e80;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ALL RESPONSIVE */

@media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .orga:after {
        position: relative;
        width: 40%;
        height: 3px;
        left: 10px;
        margin: 5px -24px 0 -24px;
    }

    .admin:after {
        position: relative;
        width: 40%;
        height: 3px;
        left: 10px;
        margin: 5px -24px 0 -24px;
    }

    .progr:after {
        position: relative;
        width: 40%;
        height: 3px;
        left: 10px;
        margin: 5px -24px 0 -24px;
    }

    .members {
        grid-template-columns: repeat(1, 100%);
    }
}

@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .members {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 680px) {
    .members {
        grid-template-columns: repeat(3, 33%);
    }
}

@media (min-width: 750px) {
    .orga:after {
        position: absolute;
        width: 11%;
        height: 3px;
        left: 5.5%;
        margin: 5px -24px 0 -24px;
    }

    .admin:after {
        position: absolute;
        width: 11%;
        height: 3px;
        left: 5.5%;
        margin: 5px -24px 0 -24px;
    }

    .progr:after {
        position: absolute;
        width: 11%;
        height: 3px;
        left: 5.5%;
        margin: 5px -24px 0 -24px;
    }
}

@media (min-width: 1281px) {
    .members {
        grid-template-columns: repeat(4, 20%);
    }
}

@media (min-width: 1921px) {
    .littletext {
        top: -45px;
        font-size: 2rem;
    }

    .herotexte {
        top: 650px;
    }

    h1.herotitle {
        font-size: 100px;
    }
}