@import "template.css";

/* The Modal (background) */
.modal {
  position: fixed;
  display: none;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 40%;
  height: 50%;
  border-radius: 10px;
}

.modal-content form {
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.modal-content form input,
.modal-content form select {
  margin-bottom: 2%;
  width: 40%;
  text-align: center;
}

.modal-content h3 {
  text-align: center;
  margin-bottom: 3%;
}
/* The Close Button */

.close {
  transition: all 0.5s ease;
  position: relative;
  background-color: #0d5e80;
  padding: 1.5px 9px;
  left: 0;
  float: right;
  z-index: 10;
  cursor: pointer;
  margin-left: -10px;
  margin-top: -9px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: white;
  -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.close:hover {
  background-color: tomato;
  color: #fff;
}

.container {
  padding: 6% 10% 0 30%;
}
.vertical_nav {
  width: 20%;
  height: 100%;
  background: #ffffff;
  box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  top: 5%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
}

.vertical_nav ul li {
  font-size: 24px;
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 30%;
  cursor: pointer;
}

.vertical_nav ul li:hover {
  color: #01567a;
}

.vertical_nav li::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}

.vertical_nav li:hover::after,
.vertical_nav li.vertical_active::after {
  width: 60%;
  background: #01567a;
}
.vertical_nav li.vertical_active {
  color: #01567a;
}

.mobile_nav button {
  cursor: pointer;
  margin: 0 2%;
}
.mobile_nav .vertical_active {
  background: #01567a;
  color: white;
}

.welcome_message {
  font-size: 20px;
  margin-bottom: 20%;
}

/* Section MON COMPTE */
.blue_bold {
  font-weight: 600;
  color: #01567a;
  font-size: 28px;
}
.inscription_date p {
  background: #ffffff;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 2% 4%;
  width: 90%;
  text-align: center;
}

.inscription_date span {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 42px;
  text-align: center;
  color: #01567a;
}

.gestion h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 60px;
  text-transform: uppercase;
  color: #01567a;
}

.title_form {
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: black;
}

.personal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input,
select {
  border: 2px solid #0d5e80;
  border-radius: 30px;
  padding: 1% 3%;
}

.logging input {
  width: 45%;
  font-size: 18px;
}
input:disabled {
  cursor: not-allowed;
  background: #e5dcdc;
}
.personal input {
  width: 45%;

  color: black;
  font-size: 18px;
}
.mr {
  margin-right: 5%;
}
.mt {
  margin-top: 5%;
}

.btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btn p {
  font-size: 16px;
  color: rgb(87, 87, 87);
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.btn p a {
  color: #01567a;
  font-style: italic;
}
.validation_pw {
  background: #01567a;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  padding: 1% 6%;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border: none;
  cursor: pointer;
}

.validation_pw i {
  position: relative;
  left: 7%;
}

.validation_pw:hover {
  background-color: #004664;
  transition: 1s;
}

/* Section MES DEPOTS */

.table_deposit,
.table_adherent {
  background-color: transparent;
  border: none;
  border-collapse: collapse;
}

.table_deposit th,
.table_adherent th {
  font-weight: 400;
  font-size: 18px;
  color: black;
  border-bottom: 1px solid black;
  width: 20%;
  text-align: left;
}

.table_deposit td,
.table_adherent td {
  font-size: 16px;
  color: #01567a;
  padding-left: 2%;
  font-weight: 500;
  padding: 2%;
}

.table_deposit tr.line,
.table_adherent tr.line {
  background-color: #ffffff;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.25);
  margin-bottom: 5%;
  padding: 2%;
  border-bottom: 1px solid black;
}

.table_adherent tr,
.deposit_admin tr {
  cursor: pointer;
}

.deposit_admin th {
  width: 18%;
}
.deposit_admin tr [data-th="Resumé de l"] {
  display: block;
  overflow-y: scroll;
  max-height: 150px;
  padding-bottom: 10%;
}

.deposit_admin i,
.deposit_admin i:visited {
  font-size: 26px;
  color: red;
}

.deposit_admin i:hover {
  color: #a30000;
  transition: 1s;
}

.table_adherent tr:hover {
  background-color: #e5dcdc;
  transition: 1s;
}

.checking {
  color: #cf6300 !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.validate {
  color: #0a7e00 !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.refused {
  color: #a30000 !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Section MON INSCRIPTION */
.inscription_card {
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 5%;
}

.inscription_card h4 {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  letter-spacing: 0.1em;
  color: #000000;
}

.inscription_card h4::after {
  content: "";
  display: block;
  height: 3px;
  width: 20%;
  top: 5px;
  background: #0d5e80;
  transition: all 0.3s;
}

.double {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.progress {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.text {
  width: 50%;
  padding-top: 5%;
}
.text p {
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-weight: 400;
  text-transform: none;
}
.strong {
  font-weight: 500;
  font-size: 17px;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.finalised,
.currently {
  display: flex;
  align-items: center;
}
.finalised p,
.currently p {
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-left: 10px;
}

.currently:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: #e19e60;
}

.finalised:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: #1d71bb;
}

.remarque {
  margin-top: 5%;
  font-style: italic;
}

.depot,
.inscription,
.admin_depot {
  display: none;
}
.steps {
  --theme-color: #ccc;
  --line-min-height: 50px;
  --icon-size: 35px;
  padding-top: 10%;
}
.steps__item--complete {
  --theme-color: #1d71bb;
  list-style: none;
  padding: 0;
}
.steps__item--complete .steps__label:after {
  width: 4px;
  height: 8px;
  border-radius: 0;
  background: transparent;
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  transform: rotate(30deg) translateY(-50%);
  top: 44%;
  left: 12px;
}

.steps__item--complete .steps__label {
  color: #1d71bb;
}
.steps__item--current .steps__label:before,
.steps__item--current .steps__label {
  --theme-color: #e19e60;
  color: #e19e60;
}
.steps__item {
  display: flex;
  flex-direction: column;
}
.steps__label {
  position: relative;
  padding-left: calc(var(--icon-size) + 4px);
  margin: 16px 0;
  font-size: 16px;
  line-height: 15px;
  font-weight: 400;
  color: #000000;
  max-width: 80%;
}
.steps__label:before,
.steps__label:after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.steps__label:before {
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
  background-color: var(--theme-color);
}
.steps__label:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  left: 13px;
}
.steps__space {
  position: relative;
  margin-left: calc(var(--icon-size) / 2);
  flex: 1 0 var(--line-min-height);
  padding: 1em;
  box-sizing: border-box;
}

.steps__space:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: var(--theme-color);
}

/* Section Mobile */
.mobile_nav {
  display: none;
}
#footer,
.bandeau {
  display: none;
}
@media (min-width: 320px) {
  /* RESPONSIVE MON COMPTE */
  .account_form {
    padding-top: 15%;
  }
  .vertical_nav {
    display: none;
  }
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .personal {
    flex-direction: column;
    align-items: center;
  }
  .personal input {
    width: 90%;
    margin-bottom: 5%;
    text-align: center;
  }
  .mt,
  .mr {
    margin-top: 0;
    margin-right: 0;
  }
  .logging {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logging input {
    width: 90%;
    margin-bottom: 5%;
    text-align: center;
  }
  .validation_pw {
    font-size: 16px;
  }
  .validation_pw i {
    left: 3%;
  }
  .btn p {
    line-height: 30px;
    margin-top: 10%;
  }
  .content_account {
    text-align: center;
  }
  .mobile_nav {
    display: flex;
    justify-content: space-evenly;
  }
  .mobile_nav button {
    width: 45%;
    border: 2px solid #0d5e80;
    background-color: transparent;
    border-radius: 20px;
    padding: 1% 3%;
    text-transform: uppercase;
  }
  .mobile_nav button i {
    position: relative;
    font-size: 1.2em;
  }
  .mobile_nav button .fa-angle-left {
    right: 5%;
    vertical-align: middle;
    fill: #0d5e80;
  }
  .mobile_nav button .fa-angle-right {
    left: 5%;
    vertical-align: middle;
    fill: #0d5e80;
  }

  /*Responsive DEPOTS*/
  .table_deposit,
  .table_adherent {
    margin-top: 30%;
  }
  .table_deposit TH,
  .table_adherent th {
    text-align: center;
  }
  .table_deposit td,
  .table_adherent td {
    font-size: 14px;
  }
  /* RESPONSIVE MON INSCRIPTION */
  .double {
    flex-direction: column;
    align-items: center;
  }
  .text {
    width: 100%;
    padding: 8%;
  }
  .inscription_card h4 {
    text-align: center;
    font-size: 18px;
  }
  .inscription_card h4:after {
    left: 40%;
    position: relative;
  }
}

@media (min-width: 481px) {
}
@media (min-width: 641px) {
  /* RESPONSIVE MON COMPTE */
  .account_form {
    padding-top: unset;
  }
  .vertical_nav {
    display: flex;
    width: 30%;
  }
  .container {
    padding-left: 40%;
  }
  .personal {
    flex-direction: row;
    align-items: flex-start;
  }
  .personal input {
    width: 45%;
    margin-bottom: unset;
    text-align: left;
  }
  .mt {
    margin-top: 5%;
  }
  .mr {
    margin-right: 5%;
  }
  .logging {
    display: block;
  }
  .logging input {
    width: 45%;
    text-align: left;
  }
  .validation_pw {
    font-size: 18px;
  }
  .validation_pw i {
    left: 7%;
  }
  .btn p {
    line-height: unset;
    margin-top: unset;
  }
  .content_account {
    text-align: left;
  }
  .mobile_nav {
    display: none;
  }
  /* RESPONSIVE INSCRIPTION */
  .double {
    flex-direction: row;
    align-items: flex-start;
  }
  .text {
    width: 50%;
    padding: 5% 0 0 0;
  }
  .inscription_card h4 {
    text-align: left;
    font-size: 19px;
  }
  .inscription_card h4:after {
    left: 0;
    position: unset;
  }
  .container {
    padding-left: 35%;
    padding-right: 5%;
  }
}
@media (min-width: 961px) {
}
@media (min-width: 1025px) {
  .vertical_nav {
    display: flex;
    width: 20%;
  }
  .container {
    padding-left: 30%;
  }

  .inscription_card h4 {
    text-align: left;
    font-size: 22px;
  }
  .container {
    padding-right: 10%;
  }

  /*Responsive DEPOTS*/
  .table_deposit,
  .table_adherent {
    margin-top: 10%;
  }
  .table_deposit TH {
    text-align: left;
  }
  .table_adherent th {
    width: 15%;
  }
  .table_deposit td {
    font-size: 16px;
  }
}
@media (min-width: 1281px) {
}
