/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import "template.css";


.title-section h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 500;
}

.conference {
    padding: 80px 0 80px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.doublesquare {
    display: flex;
    flex-direction: row;
}

.conf-text {
    width: 50%;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.10);
    font-size: 18px;
    background-color: #fff;
    padding: 30px;
    margin: auto;
}

.conf-img {
    width: 50%;
    display: flex;
    border-radius: 10px;
    justify-content: end;
}

.conf-img img {
    width: 80%;
}

.bloc-text {
    width: 100%;
    display: flex;
    border-radius: 10px;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.10);
    font-size: 18px;
    background-color: #fff;
    padding: 30px;
    margin: 40px auto;
}

.bloc-text li {
    padding: 5px;
    margin-left: 50px;
}

.conf-img3 {
    display: flex;
    border-radius: 10px;
    justify-content: start;
}

.conf-img3 img {
    width: 80%;
}

.conf-text2 {
    width: 80%;
    display: flex;
    border-radius: 10px;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.10);
    font-size: 18px;
    background-color: #fff;
    padding: 30px;
    margin: auto;
    flex-direction: column;
}

.conf-text2 li {
    padding: 5px;
    margin-left: 50px;
}


.btnCTA {
    width: 340px;
    height: 3.3rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: #01567a;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2rem;
}

.btnCTA .fa {
    position: relative;
    font-size: 20px;
}

.plan-acces {
    border-radius: 10px;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.10);
    font-size: 18px;
    background-color: #fff;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gare h2, .aeroport h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
}

.gare {
    width: 50%;
    border-right: 2px solid black;
    padding: 0 30px 0 30px;
}

.aeroport {
    width: 50%;
    padding: 0 30px 0 30px;
}

.aeroport span {
    color: #01567A;
    font-weight: 600;
}

.app-download {
    display: flex;
    justify-content: space-evenly;
}

.conference iframe {
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.10);
    border:0;
    border-radius: 10px;
}

.afrif {
    border-radius: 10px;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.10);
    font-size: 18px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-afrif {
    background-color: #01567A;
    width: 100%;
    padding: 10px 10px 10px 30px;
    border-radius: 10px 10px 0 0;

}

.title-afrif h2 {
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.afrif-text p {
    padding: 30px;
}

.btnmore {
    position: relative;
    width: 230px;
    height: 2.5rem;
    margin: 2% 3%;
    font-weight: 500;
    font-size: 20px;
    border: 2px solid #01567A;
    color: #01567A;
    background: #fff;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    float: right;
    text-transform: uppercase;
}

.fa {
    margin-left: 10px;
}

.btnCTA2 {
    width: 340px;
    height: 3.3rem;
    text-transform: uppercase;
    color: white;
    background: #01567a;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--------------------------------------------------------------
################ RESPONSIVE ################
--------------------------------------------------------------*/
@media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .btnCTA, .btnCTA2 {
        font-size: 17px;
        width: 250px;
    }

    .plan-acces {
        display: flex;
        flex-direction: column;
    }

    .gare {
        width: 100%;
        border-right: 0;
        border-bottom: 2px solid black;
        padding: 0 30px 0 30px;
        text-align: center;
    }

    .aeroport {
        width: 100%;
        padding: 30px;
    }

    .app-download {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .app-download {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        text-align: center;
    }
}


@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    .container {
        /* On ajoute une marge sur les cotés de l’écran */
        padding-right: 10%;
        padding-left: 10%;
    }

    .plan-acces {
        display: flex;
        flex-direction: row;
    }

    .gare {
        width: 100%;
        border-right: 2px solid black;
        border-bottom: 0;
        padding: 0 30px 0 30px;
        text-align: center;
    }

    .aeroport {
        padding: 0 30px 0 30px;
    }
}
